@import 'variables';
@import 'bootstrap/scss/bootstrap';
.product-line {
    display: flex;
    flex-direction: column;
    border: 3px dotted skyblue;
    padding: 10px;
    margin: 20px 0;
    .product-colors {
        display: flex;
        justify-content: flex-start;
        .color {
            height: 100px;
            width: 200px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            color: white;
            letter-spacing: 3px;
        }
    }
    .product-info {
        display: flex;
        justify-content: space-between;
        a {
            text-decoration: none;
        }
        h2 {
            color: pink;
            font-family: $m;
            padding-top: 50px;
            font-weight: bold;
        }
        .buy {
            display: flex;
            flex-direction: column;
            color: skyblue;
            font-family: $z;
            font-size: 30px;
            padding: 10px 20px;
        }
    }
}

.one-product {
    display: flex;
    flex-direction: column;
    .one-product-colors {
        display: flex;
        .color {
            width: 200px;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            letter-spacing: 3px;
        }
    }
    .buy {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: skyblue;
        font-family: $z;
        font-size: 30px;
        padding: 10px 20px;
    }
}

.buy {
    section,
    form {
        display: flex;
        align-items: center;
        gap: 15px;
        [type=number] {
            font-size: 0.8em;
            height: 40px;
            width: 50px;
            border-radius: 5px;
            outline: none;
        }
    }
}

.product-line .product-info .buy.cart {
    display: flex;
    align-items: flex-end;
    color: skyblue;
    font-family: $z;
    font-size: 30px;
    padding: 10px 20px;
    flex-direction: row;
    gap: 10px;
}

.nav-item {
    .top-cart {
        display: flex;
        align-items: center;
        svg {
            height: 40px;
            width: 40px;
            fill: crimson;
            transition: all 0.25s;
            &:hover {
                fill: skyblue;
            }
        }
        .cart-info {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: flex-end;
            gap: 5px;
            transition: all 0.8s;
            width: 140px;
            .count {
                width: 30px;
                height: 30px;
                border: 2px solid crimson;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
            .total {
                letter-spacing: 1px;
            }
        }
    }
}

.cart-bottom {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    .total {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        font-size: 30px;
    }
    .buy-now {
        display: flex;
        justify-content: flex-end;
    }
}

.front-orders {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .front-order {
        width: 50%;
        .front-order-number {
            font-size: 26px;
            color: crimson;
            font-weight: bold;
        }
    }
    .front-order-products {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        .front-order-products-list {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            span {
                font-size: 20px;
                color: skyblue;
                padding: 0 10px;
            }
            i {
                padding: 0 10px;
                font-style: normal;
            }
        }
    }
}