@import 'variables';
@import 'bootstrap/scss/bootstrap';
.form-label {
    font-size: 20px;
}

.cat-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .cat-info {
        display: flex;
        justify-content: space-around;
        .cat-colors-count {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
            margin: 5px 0 5px 20px;
            &>div {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: gray;
            }
        }
    }
    .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
}

.cat-color-range {
    display: flex;
    align-items: center;
    .form-label {
        display: inline-block;
        width: 250px;
    }
}

.colors-selectors {
    display: flex;
    align-items: flex-start;
    .one-color {
        width: 200px;
        input {
            border: transparent;
            cursor: pointer;
            margin: 20px 20px 20px 0;
            height: 40px;
            width: 50px;
        }
        .color-view {
            background-color: lightgrey;
            border: 4px dashed gray;
            border-radius: 10px;
            width: 180px;
            height: 300px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.products-list {
    .product {
        .title-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            span {
                color: orangered;
                font-size: 22px;
                padding-left: 20px;
            }
            .buttons {
                display: flex;
                justify-content: flex-end;
                gap: 10px;
            }
        }
        .colors {
            display: flex;
            .color {
                display: flex;
                color: white;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                padding: 0 10px;
                letter-spacing: 4px;
                height: 80px;
            }
        }
    }
}
.front-orders {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .front-order {
        width: 50%;
        .front-order-number {
            font-size: 26px;
            color: crimson;
            font-weight: bold;
        }
    }
    .front-order-products {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        .front-order-products-list {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            span {
                font-size: 20px;
                color: skyblue;
                padding: 0 10px;
            }
            i {
                padding: 0 10px;
                font-style: normal;
            }
        }
    }
}